.App {
  position: relative;
  width: 1440px;
  height: 820px;
  border-radius: 28px;
  background-color: #1F2223;
  margin: 30px auto;
}
.content {
  position: absolute;
  width: 1354px;
  height: 730px;
  top: 43px;
  left: 43px;
  border-radius: 28px;
  background-color: #000000;
}
.content-wrapper{
  padding: 36px 51px;
}
.content-wrapper .link {
  text-decoration: none;
  color: #ffffff;
  padding: 17px;
}
.content-wrapper .link:focus{
  text-decoration: underline #ffffff;
}

